
JOD/.vs/JOD/DesignTimeBuild/.dtbcache
JOD/.vs/JOD/v16/.suo
JOD/.vs/JOD/v16/Server/sqlite3/db.lock
JOD/.vs/JOD/v16/Server/sqlite3/storage.ide
JOD/.vs/JOD/v16/TestStore/0/000-0000.testlog
JOD/.vs/JOD/v16/TestStore/0/testlog.manifest
JOD/JOD/bin/Debug/JOD.1.0.0.nupkg
JOD/JOD/bin/Debug/JOD.1.0.1.nupkg
JOD/JOD/bin/Debug/netstandard2.0/JOD.deps.json
JOD/JOD/bin/Debug/netstandard2.0/JOD.dll
JOD/JOD/bin/Debug/netstandard2.0/JOD.pdb
JOD/JOD/obj/Debug/JOD.1.0.0.nuspec
JOD/JOD/obj/Debug/JOD.1.0.1.nuspec
JOD/JOD/obj/Debug/netstandard2.0/JOD.AssemblyInfo.cs
JOD/JOD/obj/Debug/netstandard2.0/JOD.AssemblyInfoInputs.cache
JOD/JOD/obj/Debug/netstandard2.0/JOD.assets.cache
JOD/JOD/obj/Debug/netstandard2.0/JOD.csproj.CoreCompileInputs.cache
JOD/JOD/obj/Debug/netstandard2.0/JOD.csproj.FileListAbsolute.txt
JOD/JOD/obj/Debug/netstandard2.0/JOD.csprojAssemblyReference.cache
JOD/JOD/obj/Debug/netstandard2.0/JOD.dll
JOD/JOD/obj/Debug/netstandard2.0/JOD.pdb
JOD/JOD/obj/JOD.csproj.nuget.cache
JOD/JOD/obj/JOD.csproj.nuget.dgspec.json
JOD/JOD/obj/JOD.csproj.nuget.g.props
JOD/JOD/obj/JOD.csproj.nuget.g.targets
JOD/JOD/obj/project.assets.json
JOD/XUnitTest/bin/Debug/netcoreapp2.2/JOD.dll
JOD/XUnitTest/bin/Debug/netcoreapp2.2/JOD.pdb
JOD/XUnitTest/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
JOD/XUnitTest/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
JOD/XUnitTest/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
JOD/XUnitTest/bin/Debug/netcoreapp2.2/XUnitTest.deps.json
JOD/XUnitTest/bin/Debug/netcoreapp2.2/XUnitTest.dll
JOD/XUnitTest/bin/Debug/netcoreapp2.2/XUnitTest.pdb
JOD/XUnitTest/bin/Debug/netcoreapp2.2/XUnitTest.runtimeconfig.dev.json
JOD/XUnitTest/bin/Debug/netcoreapp2.2/XUnitTest.runtimeconfig.json
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.AssemblyInfo.cs
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.AssemblyInfoInputs.cache
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.assets.cache
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.csproj.CopyComplete
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.csproj.CoreCompileInputs.cache
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.csproj.FileListAbsolute.txt
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.csprojAssemblyReference.cache
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.dll
JOD/XUnitTest/obj/Debug/netcoreapp2.2/XUnitTest.pdb
JOD/XUnitTest/obj/Debug/netcoreapp3.0/XUnitTest.AssemblyInfo.cs
JOD/XUnitTest/obj/Debug/netcoreapp3.0/XUnitTest.AssemblyInfoInputs.cache
JOD/XUnitTest/obj/Debug/netcoreapp3.0/XUnitTest.assets.cache
JOD/XUnitTest/obj/Debug/netcoreapp3.0/XUnitTest.csproj.CoreCompileInputs.cache
JOD/XUnitTest/obj/Debug/netcoreapp3.0/XUnitTest.csprojAssemblyReference.cache
JOD/XUnitTest/obj/project.assets.json
JOD/XUnitTest/obj/XUnitTest.csproj.nuget.cache
JOD/XUnitTest/obj/XUnitTest.csproj.nuget.dgspec.json
JOD/XUnitTest/obj/XUnitTest.csproj.nuget.g.props
JOD/XUnitTest/obj/XUnitTest.csproj.nuget.g.targets
